---
import Feactures from "../components/Feactures.astro";
import Showcase from "../components/Showcase.astro";
import Tabs from "../components/Tabs.jsx";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Home">
	<Showcase/>
	<Feactures/>
	<section class="mx-7">
		<div >
			<h2 class=" text-center  text-4xl " >Get Started With Astro</h2>
			<p class=" mt-5">
				Get a new Astro project up and running locally with our helpful
				create-astro CLI wizard!
			</p>
		
			<Tabs client:visible heading={['Npm', 'Yarn','Pnpm']} />

			<h3 class=" text-center my-5 text-xl" >Start Building</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
				deserunt inventore ut voluptate, officia maiores repellat tenetur
				praesentium omnis est ex tempora a necessitatibus reiciendis at et
				dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
				laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
				iusto error molestias dolorum, necessitatibus labore?
			</p>
		</div>
	</section>
</Layout>