---
export interface Props {
  dark?: boolean;
}
const { dark = false } = Astro.props as Props;
---

<div
  class={`shadow-2xl  rounded-lg mb-5 p-5  ${
    dark && "bg-[#0f172a] text-white"
  }`}
>
  <slot />
</div>


