---
import logo from "../images/logo.svg";
---

<header class="bg-[#0f172a] h-16">
  <div class="h-full flex justify-between px-5 items-center">
    <a href="/">
      <img class="h-9" src={logo} alt="" />
    </a>
    <nav>
      <ul class="flex">
        <li class="px-1"><a class="text-white" href="/">Home</a></li>
        <li class="px-1"><a class="text-white" href="/about">About</a></li>
        <li class="px-1"><a class="text-white" href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
